body {
    height: 100vh;
}

ol {
    list-style-type: none;
    padding: 0;
}

ol li {
    cursor: pointer;
    background: white;
    padding: 8px 16px;
    border-bottom: 1px solid gray;
}

ol li:hover {
    opacity: 0.8;
}
ol li.expense {
    border-left: 8px solid red;
}

ol li.income {
    border-left: 8px solid green;
}

ol li:hover button.danger {
    opacity: 1;
}

p {
    margin: 4px 0;
}

button.danger {
    width: auto;
    float: right;
    cursor: pointer;
    opacity: 0.1;
}

.clear {
    cursor: pointer;
    padding: 12px;
    border: none;
    background: rgba(15, 118, 109, 0.856);
    color: white;
    font-weight: 600;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    font-size: 15px;
    transition: 0.2s;
    cursor: pointer;
    border: none;
}

#summary-value {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

#summary-value {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

#summary-value div {
    padding: 12px;
}

#date-selector {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
    margin-bottom: 12px;
}

#filter-button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: rgb(15,118,110);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

#transactions li button {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(15,118,110);
    background: transparent;
    color: rgb(15,118,110);
    cursor: pointer;
}

#expense-value {
    color: rgb(202, 16, 16);
    background-color: rgba(202, 16, 16, 0.377);
    background-image: url("/frontend/assets/img/expense.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 24px;
    padding-left: 50px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

#income-value {
    color: rgb(15,118,110);
    background-color: rgba(15, 118, 109, 0.363);
    background-image: url("/frontend/assets/img/income.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 24px;
    padding-left: 50px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}


#balance-value {
    color: #ffffff;
    background-color:  rgba(0, 0, 0, 0.445);
    background-image: url("/frontend/assets/img/balance.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 24px;
    padding-left: 50px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}



.fab {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: rgb(15,118,110);
    color: white;
    font-size: 28px;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

