body {
    margin: 0;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    background-color: transparent;
    border: none;
    color: white;
}
.solid {
    background-color: white;
    border: none;
    color: var(--primary-color);
}
.outline {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.error {
    color: white;
    background-color: rgb(199, 18, 18);
    display: none;

}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}

.loading label {
    font-size: 30px;
}

button:active {
    background-color: var(--primary-color-darker);
}
button:disabled {
       opacity: 0.3;
}

