:root{
    --primary-color: rgb(0, 184, 159);
    --primary-color-darker: rgb(0, 121, 105);
}

body {
    margin: 0;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: rgb(9, 146, 128);
    padding: 20px;
    line-height: 1.5em;
    border-radius: 10px;
}

.form-field {
    margin-bottom: 10px;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    background-color: transparent;
    border: none;
    color: white;
}
.solid {
    background-color: white;
    border: none;
    color: var(--primary-color);
}
.outline {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.error {
    color: white;
    background-color: rgb(199, 18, 18);
    display: none;

}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}

.loading label {
    font-size: 30px;
}

input, button {
    padding: 10px;
    width: -webkit-fill-available;
}

button:active {
    background-color: var(--primary-color-darker);
}
button:disabled {
       opacity: 0.3;
}

